{% extends 'base.html' %}

{% block header %}
  <header>
    <h1>{% block title %}New Shopping List Item{% endblock %}</h1>
    <div class="header-buttons">
      <form method="post">
        <button type="submit" form="item-form">
          <i class="fas fa-save"></i>
        </button>
      </form>
    </div>
  </header>
{% endblock %}

{% block content %}
  <form id="item-form" method="post">
    <label for="description">Item Description</label>
    <textarea name="description" id="description" required>{{ request.form['description'] }}</textarea>
    
    <label for="link">Link to Item (Optional)</label>
    <input name="link" id="link" value="{{ request.form['link'] }}">
  </form>
{% endblock %}
